*{
    padding: 0px;
    margin: 0px;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(140deg,rgb(12, 96, 108),rgb(6, 101, 49));
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: rgb(255, 255, 255);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    border-bottom: 1px solid rgb(7, 139, 7);
    border-left: 1px solid green;
    box-shadow: 1px solid grey;
}
.todo-app h2{
    color: #07491f;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}
.todo-app h2 img{
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(223, 213, 213);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 14px 40px;
    background: #115705;
    color: white;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: rgb(8, 60, 68);
}
ul li::before{
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-image: url('https://icons.veryicon.com/png/o/miscellaneous/outgoing-system/unchecked-25.png');
    background-size: cover;
    background-position: center;
    top: 9px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url('http://clipart-library.com/images_k/check-mark-icon-transparent/check-mark-icon-transparent-5.png');
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #d6d0cf;
    color: red;
}

@media(max-width: 390px){
    input{
        flex: 1;
        border: none;
        outline: none;
        background: transparent;
        padding: 3px;
        font-weight: 14px;
    }
    button{
        border: none;
        outline: none;
        padding: 10px 10px;
        background: #115705;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
}